version: '3.8'

services:
  redis-stack-db:
    image: redis/redis-stack:latest
    container_name: redis-stack-db
    ports:
      - "6379:6379"
      - "8001:8001"
    volumes:
      - redis_data:/data
    networks:
      - kafka-network
      - app-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  redis_data:
    driver: local

networks:
  kafka-network:
    external: true
    name: redis_rag_kafka-network
  app-network:
    external: true
    name: chatbot_app-network
